---
title: 'process'
links: [
	{ href: '/', text: 'back to work' },
	{ href: '/process', text: 'process' },
	{ href: '/credits', text: 'credits' }
]
---

<script>
    import Sidenote from '$lib/components/sidenote.svelte';
	import Image from '$lib/components/image.svelte';
</script>

<!-- table of contents will always appear before the first paragraph -->

On the technological side this project consists of multiple components, most of which are based on so called "artifial intelligence" (short AI). This text will give a brief overview of this technology and then go on to describe the process of this project. All source code used for research and production of this work is publicly avaliable and may be used, adapted and redestributed for non-commercial projects.

# Machine Learning

This would be a couple of paragraphs about machine learning, including phil agres, the nooscope and maybe mark fisher?

- data
- training
- finetuning
- critical AI
- (machine ethics? Hendrik?)
- eerieness reversal:
  - mark fisher eeriness (something that isn't there, but should be or something that is there, but shouldn't be)
  - ai eerie, because:
    - "normal people": eerie, because intelligence shouldn't be there, but is.
    - critical ai: eerie, because intelligence is percieved to be there, but isn't.

# AI and its artistic use

- my view on how AI can be used artistically: self reflective
- ai should not be mystified without reflecting what narrative that drives (nooscope manifested)

# The Process

- writing with the scientist
- performers writing
- -> finetuning gpt2neo with the combined datasets
- filming
- -> finetuning stylegan3 with the combined datasets
- recording phone notification sounds
- -> combining all those sounds into one single 'fusion'
- -> generating endless variations on that sound

- Choices
  - the questions of thinking machines are not of interest to me. I am interested in what humans project into machines (analogous to what they project into ghosts) -> this is key, because it is based on my interpretation / demystification of AI at the beginning of this text & because it lays the groundwork for the rest of the choices
  - I picked ghostliness, because I'm interested in human machine relations (avatars, eterne.me)
  - I used errors in AI to drive home this ghostliness with the weird and the eerie (respectivly)
    - mostly weird, because there seems to be an incursion of strangeness in an momentarily (for the first seconds/minutes of seeing) "normal" world (in the case of images and sounds)
    - eeriness in the texts, because of the absense of reason, which is momentarly perceived and the presence of emotion, which should not be there.
  - I always combined (compressed (nooscope)) multiple persons / texts / sounds into one, um zu inszenieren und anonymisieren. AI allows this as it is the great compressor.

# Technologies

- gpt2 (neo) - openai/huggingface/eleutherai https://github.com/EleutherAI/gpt-neo/
- stylegan3 - nvidia https://github.com/salty-muffin/stylegan3
- nsynth - magenta (google) https://github.com/magenta/magenta/tree/main/magenta/models/nsynth
- (the issues with cutting edge ai models: having to rely on large companies at the moment)

## Datasets

- https://pile.eleuther.ai/
- https://github.com/NVlabs/ffhq-dataset
- https://magenta.tensorflow.org/datasets/nsynth

<!-- <Image
image="/images/seed0000.jpg"
width={1024}
height={1024}
alt="test"
sizes={[{ width: 400, maxWidth: 400 }, { width: 720 }]}
/> -->
