---
title: 'technical details'
links: [
	{ href: '/', text: 'back to work' },
	{ href: '/process', text: 'process' },
	{ href: '/credits', text: 'credits' }
]
---

<script>
    import Sidenote from '$lib/components/sidenote.svelte';
	// import Image from '$lib/components/image.svelte';
</script>

<!-- table of contents will always appear before the first paragraph -->

this is a placeholder for the documentation. In the end there might be two or three pages
describing in detail. One may be going over general background stuff, while another will be
going over technical backgrounds.

# Some Heading

This here is just filler text, because I assume the introcution would probably be longer, but
we'll see I guess. Lorem ipsum dolor sit amet consectetur adipisicing elit.

<!-- - the process
  - writing with the scientist
  - performers writing
  - -> finetuning gpt2neo with the combined datasets
  - filming
  - -> finetuning stylegan3 with the combined datasets
  - recording phone notification sounds
  - -> combining all those sounds into one single 'fusion'
  - -> generating endless variations on that sound
- technologies used
  - gpt2 (neo) - openai/huggingface/eleutherai https://github.com/EleutherAI/gpt-neo/
  - stylegan3 - nvidia https://github.com/salty-muffin/stylegan3
  - nsynth - magenta (google) https://github.com/magenta/magenta/tree/main/magenta/models/nsynth
  - (the issues with cutting edge ai models: having to rely on large companies at the moment)
- datasets used
  - finetuning explained
  - https://pile.eleuther.ai/
  - https://github.com/NVlabs/ffhq-dataset
  - https://magenta.tensorflow.org/datasets/nsynth -->
